<li>
  <span class="content"><%= vehicle.name %></span>
  <span class="content"><%= vehicle.description %></span>
  <span class="timestamp">
    Updated <%= time_ago_in_words(vehicle.updated_at) %> ago.
  </span>
</li>